run = ["bash", "AutomateKali.sh"]

entrypoint = "AutomateKali.sh"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "bash AutomateKali.sh"]

[languages]

[languages.bash]
pattern = "**/{*.sh,*.bash}"

[languages.bash.languageServer]
start = "bash-language-server start"